*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
.hero {
    display: flex;                
    justify-content: space-between; 
    align-items: center;         
    padding: 20px;               
    background-color: #2cdac8;  
    height: 400px;
  }
  
  .sec1 {
    max-width: 500px;            
    display: flex;               
    flex-direction: column;      
  }
  
  .container1 {
    font-size: 20px;             
    font-weight: bold;           
    margin-bottom: 10px;         
  }
  
  .container2 {
    font-size: 36px;             
    font-weight: 600;           
    line-height: 1.2;            
    margin-bottom: 20px;         
  }
  
  .f {
    color: #ff6f61;              
  }
  
  .ff {
    /* display: flex; */
    font-weight: bold;           
  }
  
  .button {
    margin-top: 20px;            
  }
  
  .b {
    box-sizing: 100px;
    background-color: #ff6f61;  
    color: white;              
    border: none;                
    padding: 10px 20px;         
    font-size: 16px;           
    border-radius: 5px;         
    cursor: pointer;            
    transition: background-color 0.3s; 
  }
  
  .b:hover {
    background-color: #e55b4d;  
  }
  
  .sec2 {
    
    flex: 1;                     
    display: flex;              
    justify-content: center;     
    align-items: center;         
  }
  
  .girlimage {
    width: 100%;                 
    max-width: 500px;      
    height: 400px;    
    border-radius: 10px;        
    object-fit: cover;           
  }
  .c{
     background-color: #1a6acb;
    margin-right: 200px;
    /* margin-left: 70px; */
    color: white;
  text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
  }
  .c:hover{
    background-color: #dd257b;
   
  }